<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="" id="curemyhiccup" version="1.0.0">
  <name>CureMyHiccup</name>
  <description>App that uses timed breathing to attempt to cure hiccups.</description>
  <author href="" email="">Jo Clarke</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="permissions" value="none"/>
  <preference name="android-minSdkVersion" value="14"/>
  <icon src="icon.png"/>
</widget>
